<footer class="legend proxima double-top-gap pad-vertically">
    <div class="flex">
        <menu class="horizontal-list foot-menu">
            <li>
                <a rel="About us" href="https://bubblin.io/about">About</a>
            </li>
            <li>
                <a rel="Frequently Asked Questions" href="https://bubblin.io/faq">FAQs</a>
            </li>
            <li class="hide-on-mobiles">
                <a rel="Writers" href="https://bubblin.io/writers">Writers</a>
            </li>
            <li class="hide-on-mobiles">
                <a rel="Documentation" href="https://bubblin.io/documentation">Documentation</a>
            </li>
            <li class="hide-on-mobiles">
                <a href="{{ '/' | relative_url }}" rel="Official blog">Blog</a>
            </li>
            <li>
                <a rel="Privacy Policy" href="/policy">Policy</a>
            </li>
            <li>
                <a rel="Terms of Service" href="/terms">Terms</a>
            </li>
        </menu>
        <span class="side-gap">
          <h6 class="small">
          © 2017+ Bubblin Superbooks Inc.
          </h6>
        </span>
    </div>
    <div class="one-half center small flex double-top-gap">
        <span class="lobster faded-text">
          Made with
          <i class="heart"></i>
          in the
        </span>
        <div class="usa side-gap"></div>
    </div>
</footer>