---
layout: default
---
<div class="wrapper pad">

    <h1 href="{{ "/" | relative_url }}">{{ site.title | escape }}</h1>

    <hr>

    <p class="right">Subscribe <a href="{{ '/feed.xml' | relative_url }}">via RSS</a></p>

    {{ content }}

    <ul class="pad-vertically posts">
        {% for post in site.posts %}
        <li>
            <h3>
                <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h3>
						{{ post.excerpt }}

        </li>
        {% endfor %}
    </ul>

</div>